__pycache__/
*.pyc
.env
*.zip
catboost_info/
live_results.json
.streamlit/secrets.toml
data/MMasseyOrdinals.csv
data/MGameCities.csv
data/WGameCities.csv
data/SampleSubmissionStage1.csv
data/SampleSubmissionStage2.csv
data/MConferenceTourneyGames.csv
data/WConferenceTourneyGames.csv
data/MSecondaryTourneyCompactResults.csv
data/MSecondaryTourneyTeams.csv
data/WSecondaryTourneyCompactResults.csv
data/WSecondaryTourneyTeams.csv
data/MNCAATourneySeedRoundSlots.csv
data/Cities.csv
data/Conferences.csv
data/MTeamSpellings.csv
data/WTeamSpellings.csv
data/MSeasons.csv
data/WSeasons.csv
data/MNCAATourneyDetailedResults.csv
data/WNCAATourneyDetailedResults.csv
